
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="~/Blog/AddBlog" method="post">
    <table class="table table-bordered">
        <tr>
            <td>用户名</td>
            <td>
                <input type="text" name="username" valus="" />
            </td>
        </tr>
        <tr>
            <td>密码</td>
            <td>
                <input type="password" name="password" valus="" />
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-success">登陆</button>
            </td>
        </tr>
    </table>
</form>

